* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .submenu {
    position: absolute;
    display: none;
    left: 100%;
    top: -2px;
}

.dropdown-menu>li:hover>.submenu {
    display: block;
}